#### Using YouTube API to get the data related to search and video statistics

Reference documets-
1. https://www.slickremix.com/docs/get-api-key-for-youtube/
2. https://developers.google.com/youtube/v3/docs

In [1]:
#import libraries
import requests
import pandas
import time

In [2]:
#get the API key to make API calls
API_Key=""
Channel_ID=""
pageToken=""

In [3]:
#defining a function to get the video_statistics
def video_stats(video_id):
    
    #create url to fetch data after making an API call
    url_video_stats="https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_Key
    
    #store the data in json format
    response_video_stats=requests.get(url_video_stats).json()
    
    #parse the data and store in lists
    view_count=response_video_stats['items'][0]['statistics']['viewCount']
    like_count=response_video_stats['items'][0]['statistics']['likeCount']
    comment_count=response_video_stats['items'][0]['statistics']['commentCount']
    
    return view_count, like_count, comment_count

In [4]:
#Another function to get the video_id and then use first function to get video_stats for those video_ids
def get_dataframe(df):
    
    #create url to fetch the data
    url="https://www.googleapis.com/youtube/v3/search?key="+API_Key+"&channelId="+Channel_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken
    
    #store the data in json format
    response=requests.get(url).json()

    #wait till the data is fetched
    time.sleep(1)
    
    #parse the data for each observation and store in lists
    for video in response['items']:
    
        if video['id']['kind']=="youtube#video":
        
            video_id=video['id']['videoId']
            video_title=video['snippet']['title']
            upload_date=video['snippet']['publishedAt']
            upload_date=upload_date.split("T")[0]
            
            view_count, like_count, comment_count=video_stats(video_id)
            
            #save the data into a dataframe
            df=df.append({'video_id':video_id,
                  'video_title':video_title,
                  'upload_date':upload_date,
                  'view-count':view_count,
                  'like_count':like_count,
                  'comment_count':comment_count},ignore_index=True)
            
    return df

In [5]:
#create dataframe with columns to extract
df=pd.DataFrame(columns=["video_id","video_title","upload_date","view_count","like_count","comment_count"])

#get the data
get_dataframe(df)

,video_id,video_title,upload_date,view_count,like_count,comment_count,view-count
0,vdmCxvaRdLU,Using Rank() and PARTITIONs in SQL To Solve Co...,2023-01-11,NaN,24,6,594
1,A1U4TPxZ0CE,Correlation Matrix in Python to Solve a DoorDa...,2023-01-10,NaN,15,0,254
2,gh5JzALBQvU,How To Handle Multicollinearity and Feature Se...,2023-01-04,NaN,51,4,1140
3,m3zEV10qvE8,Collinearity and Removing Redundancies [DoorDa...,2022-12-29,NaN,37,6,731
4,G7fvAkj9gQs,How to Build a DoorDash Prediction Model with ...,2022-12-28,NaN,25,0,476
5,Sf6jn8QZHhc,Data Preparation for Modeling [DoorDash Data S...,2022-12-22,NaN,50,11,1488
6,AM4nPwvUtTo,Python Data Science Projects for Beginners - B...,2022-12-15,NaN,101,5,1556
7,Vt-POo9tEB8,Spotify Days At Number One SQL Question,2022-12-07,NaN,16,0,443
8,93quPoReV1M,SQL Solution to SPOTIFY Days At Number One Que...,2022-12-01,NaN,71,5,1460
9,6xo0cn0BpKs,How to Solve a Forbes Interview Question Using...,2022-11-30,NaN,13,0,539
10,a8T88wCrmAQ,Solving FORBES Coding Interview Questions in P...,2022-11-28,NaN,55,10,1326
11,i80pkW8YeKI,Data Provides vs Data Users: Choose Your Job i...,2022-11-16,NaN,16,2,564
12,yoUO84tOH3c,Edge Case Alert in Python Interview Question S...,2022-11-14,NaN,13,0,355
13,qbN_t6sh4_E,Data Science Job Types &amp; Careers,2022-11-11,NaN,31,3,649
14,9quwCoQ6CoU,Meta Product Families: head() Function to Expl...,2022-11-09,NaN,5,0,236
15,RmMuS5iiviI,Python Pandas Techniques In A Meta Data Scienc...,2022-11-03,NaN,47,0,1104
16,bppeYE-VUSQ,Data Science Interview Simple Tips: How to Ans...,2022-10-31,NaN,25,0,568
17,0EKPN19Y9MA,How many Twitch viewers became streamers? A SQ...,2022-10-26,NaN,11,0,307
18,vQmk0bH25d0,[Part 2] EDGE Cases in Data Analysis: How to R...,2022-10-22,NaN,4,0,362
19,M-dT_0m4qhI,SQL interview: How many Twitch viewers became ...,2022-10-20,NaN,80,5,2486
20,rEaSskQhId4,[Part 1] How to Solve an Amazon Python Intervi...,2022-10-19,NaN,17,0,468
21,8IIryKHheYw,(Part 3) How to Formulate the Approach for Sol...,2022-10-18,NaN,4,0,218
22,yQSZT65WET4,A Python Coding Interview Question From Amazon,2022-10-13,NaN,42,5,1121
23,OMHbYrL09io,A/B Testing (A) Interview Questions or (B) for...,2022-10-12,NaN,30,0,669
24,SGDchcWjaTA,(Part 2) Deepen Your Understanding of Data wit...,2022-10-10,NaN,21,0,549
25,9av7jQ9MA44,A/B Testing Concepts To Know For Data Science,2022-10-06,NaN,108,7,2075
26,nh2nLDpxDFI,(Part 1) Meta SQL Interview Question: Identify...,2022-10-05,NaN,27,0,498
27,Q-3wvYInCeI,Meta SQL Interview Question - A Step-By-Step S...,2022-09-29,NaN,103,10,3515
28,0cYfw5mWJ-E,How to Perform Data Analysis with Python for F...,2022-09-28,NaN,31,5,509
29,sVdNVgtpkD4,A Python Project to Solve Your Debt Problems,2022-09-22,NaN,186,16,5287
30,M4shTrIgXs0,3 Simple Steps to Solve Noom SQL Interview Que...,2022-09-21,NaN,12,1,427
31,5Lpbw71xR3o,Framework to Solve Noom Advanced SQL Interview...,2022-09-15,NaN,76,2,2317
32,gtHI672Tlbw,DoorDash Medium Level SQL Interview Question,2022-09-08,NaN,26,2,733
33,DmUR2QSNUq8,DoorDash Data Science SQL Interview Question W...,2022-09-07,NaN,71,8,2418
34,OLG6_EHMhFk,The One Thing That Keeps Data Scientists Up-to...,2022-08-31,NaN,51,4,674
35,0EoaJE3ePcE,Use STRING_AGG Function to Solve SQL Questions,2022-08-25,NaN,113,4,2628
36,JDOAcKTy9Mk,Top 5 Data Science Project Ideas in 2022 to St...,2022-08-18,NaN,166,12,3283
37,o8cFJmI50Dw,STRING_AGG Function to Solve Data Science Inte...,2022-08-11,NaN,61,7,1828
38,ggZzHnzYH1s,How To Use Python Window Functions | Solving A...,2022-08-03,NaN,131,8,3169
39,8zeLdtkY2CQ,Data Science Mock Interview | Salesforce SQL C...,2022-06-17,NaN,181,21,6538
40,tnoOz6MzTPg,Python cumsum() | Solving Python Optimization ...,2022-05-11,NaN,84,13,2693
41,OzyHfddLj9g,How to Solve a SQL Interview Question Using WH...,2022-04-13,NaN,158,12,7599
42,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,2022-03-22,NaN,166,20,5599
43,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,2022-03-10,NaN,127,4,4144
44,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2022-03-02,NaN,131,8,5325
45,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08,NaN,262,34,9874
46,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27,NaN,125,8,5945
47,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10,NaN,498,29,20782
48,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22,NaN,654,51,16138